Library*
Temp*
UnityPackageManager*
*.exe
*~
SpaceNavigator*
NavmeshComponents/Examples*
signalsix.sln
signalsix2.CSharp.Editor.csproj
signalsix2.CSharp.csproj
signalsix2.sln
ProjectSettings.asset

Assets/SteamVR*
Assets/VRTK*
ProjectSettings/UnityAdsSettings.asset
ProjectSettings/TimeManager.asset
ProjectSettings/TagManager.asset
ProjectSettings/UnityConnectSettings.asset
ProjectSettings/UnityAdsSettings.asset.meta
ProjectSettings/InputManager.asset
ProjectSettings/GraphicsSettings.asset
ProjectSettings/EditorSettings.asset
ProjectSettings/NavMeshAreas.asset
ProjectSettings/EditorBuildSettings.asset
ProjectSettings/DynamicsManager.asset
ProjectSettings/AudioManager.asset
signalsix.csproj
signalsix.Editor.csproj
Assets/Monster3*
Assets/_Project/Scenes/4_mockup_level-VRTK.meta
ProjectSettings*
signalsix.userprefs
Assets/Golem.meta
